body {
	width: 100%;

}

h1 {
	text-align: center;
}
.card {
	height: 300px;
	margin-top: 102px ;
}

.card-img-top {
	height: 300px;
	width: 75%;
	position: relative;
	left: 45px;

}

.card-btn {
	display: block;
	position: relative;
	left: 87.5px;
	top: 127px;

} 


.zonk {
 	position: relative;
 	left: 29px;
 	top: 25px;
}

.jumbotron {
	margin-top: 50px;
	height: 600px;
}

img[src="assets/EmpireState_Question1.jpg"] {
	height: 500px;
	width: 100%;
}