/* typography */
h1 {
	text-align: center;
	font-family: "Sedgwick Ave Display";
	font-size: 4em;
}

.question {
	font-family: "Acme";
	letter-spacing: 0.05em;
}

.question button {
	font-family: "Acme";
	letter-spacing: 0.075em;
	text-align: center;
}

/* progress bar: sizing, positioning, styling and initial visibility*/
.progress-bar-border {
	width: 75%;
	border: 1px solid black;
	height: 20px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 6%;
	visibility: hidden;
}

.progress-bar {
	width: 0%;
	background: #7b4397;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #dc2430, #7b4397);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #dc2430, #7b4397); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	height: 20px;
	border-radius: 6%;
	position: relative;
	left: 12.5%;
	top: 10px;
	visibility: hidden;
}

/* sizing and positioning for the play cards (front and back) */
.card {
	height: 300px;
	margin-top: 102px ;
}

.card-img-top {
	height: 300px;
	width: 75%;
	position: relative;
	left: 45px;
}

.card-btn {
	display: block;
	position: relative;
	left: 87.5px;
	top: 127px;
} 

.zonk {
 	position: relative;
 	left: 29px;
 	top: 25px;
}


.jumbotron {
	margin-top: 20px;
	height: 600px;
}

/* first question image needs it's own specific styling */
img[src="assets/EmpireState_Question1.jpg"] {
	height: 500px;
}

/* sizing and positioning for question image, question and it's answer choices */
.question {
	display: none;
}

#questionPic {
	width: 100%;
	min-height: 350px;
}

h3 {
	margin: 0px auto;
	width: 75%;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

.btn-block {
	margin: 30px auto 0 auto;
	width: 75%;
}

ul li:first-child > button {
	margin-top: 45px;
}

/* positioning for next-question button */
.next-btn {
	position: absolute;
	right: 25%;
	top: 120%;
}

/* Modal image for first question needs specific styling*/
img[src="http://imgc.allpostersimages.com/images/P-473-488-90/61/6173/LSQG100Z/posters/moon-over-reynolds-building-winston-salem-north-carolina.jpg"] {
	float: left;
}

/* Modal styles */
.modal-body img, .modal-body h4 {
	display: block;
	max-width: 75%;
	margin: 0 auto;
}

.modal-body h4 {
	margin-top: 30px;
	padding-left: 2%;
}

#first-explanation {
	line-height: 1.5em;
	padding-top: 5px; 
	padding-bottom: 30px;
}

/* positioning and sizing for score page */
.score {
	display: none;
}

.score h3 {
	width: 100%;
	text-align: center;
}

.score button, .score img {
	display: block;
	margin: 50px auto 0 auto;
}